aniso8601==6.0.0
apispec==5.1.1
apispec-webframeworks==0.5.2
astunparse==1.6.3
attrs==19.1.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
Cython==0.29.24
git+https://github.com/pytorch/fairseq.git@698e3b91ffa832c286c48035bdff78238b0de8ae
filelock==3.0.12
Flask==2.0.1
Flask-Cors==3.0.10
huggingface-hub==0.0.8
idna==3.2
itsdangerous==2.0.1
javalang==0.13.0
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.0.1
MarkupSafe==2.0.1
marshmallow==3.13.0
nltk==3.6.2
numpy==1.21.2
packaging==21.0
portalocker==2.3.1
pycparser==2.20
pyparsing==2.4.7
pyrsistent==0.15.2
pytz==2019.1
PyYAML==5.4.1
regex==2021.8.21
requests==2.26.0
sacrebleu==1.2.11
sacremoses==0.0.45
sentencepiece==0.1.96
six==1.16.0
tabulate==0.8.9
tokenizers==0.10.3
torch==1.9.0
tqdm==4.62.2
transformers==4.7.0
tree-sitter==0.19.0
typing==3.7.4.3
typing-extensions==3.10.0.0
urllib3==1.26.6
waitress==2.0.0
Werkzeug==2.0.1
