cython
pyhocon
dill
apispec
mysql-connector-python
scp
nltk
pycryptodome
pyenchant
xmltodict
dagster==0.7.16
paramiko
mleap
pmdarima
mlflow
zeep
pyodbc
spacy
pytextrank
ecs_logging
elasticsearch
pytesseract
xlrd 
openpyxl 
docx
docx2txt 
lxml==4.9.1
